/* styles.css (o cualquier otro archivo de estilos que estés utilizando) */

.image-container {
  margin-bottom: 20px; 
  display: flex;
  justify-content: center;
  filter: hue-rotate(200deg);
  
}

.img-center {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; 
  height: auto; 
 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.image-container:hover  {

    filter: hue-rotate(0deg); 
    transition: filter 0.5s ease; 
  }


.button-container {
  margin-bottom: 20px; 
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px; 
  background-color: #0074C9; 
  color: #fff; 
  border-radius: 5px; 
  text-decoration: none; 
  transition: background-color 0.3s; 
}

.nav-link:hover {
  background-color: #c10c18; 
}
